// Trade Gothic
@font-face {
  font-family: 'TradeGothic';
  src: url('./fonts/TradeGothic/TradeGothicLT-Extended.eot');
  src: local('Trade Gothic LT'), local('./fonts/TradeGothic/TradeGothicLT-Extended'),
  url('./fonts/TradeGothic/TradeGothicLT-Extended.eot?#iefix') format('embedded-opentype'),
  url('./fonts/TradeGothic/TradeGothicLT-Extended.woff2') format('woff2'),
  url('./fonts/TradeGothic/TradeGothicLT-Extended.woff') format('woff'),
  url('./fonts/TradeGothic/TradeGothicLT-Extended.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothic';
  src: url('./fonts/TradeGothic/TradeGothicLT-BoldExtended.eot');
  src: local('Trade Gothic LT Bold'), local('./fonts/TradeGothic/TradeGothicLT-BoldExtended'),
  url('./fonts/TradeGothic/TradeGothicLT-BoldExtended.eot?#iefix') format('embedded-opentype'),
  url('./fonts/TradeGothic/TradeGothicLT-BoldExtended.woff2') format('woff2'),
  url('./fonts/TradeGothic/TradeGothicLT-BoldExtended.woff') format('woff'),
  url('./fonts/TradeGothic/TradeGothicLT-BoldExtended.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}