.navbar {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 3rem;

  & .links {
    display: flex;
    align-self: stretch;
    height: auto;
    gap: 2rem;

    &:first-child {
      justify-self: flex-start;
    }
    &:last-child {
      justify-self: flex-end;
    }
  }

  &.main {
    align-items: center;

    & .links {
      height: fit-content;
      align-self: unset;
    }
    & .logo {
      margin-block: 0;
    }
  }

  & .logo {
    height: 2.25rem;
    margin-block: 1.6rem;
    justify-self: center;

    & svg {
      height: 100%;
      width: 100%;
    }
  }
}